
/* default styling for whole page */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

/* global variables for color selections */
:root{
    --main-header-text-color: rgb(92, 41, 92);
    --highlight-color: fuchsia;
    --background-light-color: lavenderblush;
    --border-color: gray;
}

/* sets the attributes for the header */
.header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 40px;
    background-color: var(--background-light-color);
}

/* sets size/margin for the profile photo */
 .profile-photo{
    display: inline-flex;
    width: 100px;
    height: 200px;
    margin:0;
}

/* code for Gold text color from https://addisonlegere.com/blog/gold-text-with-css-image/ */

/* header class with h1 tag */
.header h1 {
    display: inline-flex;
    flex-wrap:wrap;
    padding-top: 120px;
    font-size: 65px;
    line-height: 75px;
    color: #D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


/* header class w/ nav tag- styles the navigational part of the header - sets defaults */
.header nav {
    padding-top: 150px;
    margin-right: 20px;
    align-content: bottom;
    float: right;
}

/* header class with nav and unordered list tags - sets the list style type for the navigation */
.header nav ul {
    list-style-type: none;
}

/* sets the navigation list to inline and the left margin */
.header nav ul li {
    display: inline-flex;
    align-content: flex-end;
    margin-left: 25px;
}


/* sets the color for the hrefs and size and bold */
header a {
    color: #D5AD6D; 
    font-weight: bold;
    font-size: 30px;
}

/* sets the hover color for the hrefs */
header a:hover{
color: var(--highlight-color);
}

/* Container holding the main page image and the text */
.main-image {
    position: relative;
  }
  
  /* Bottom right text for the main page image */
  .text-block {
    position: absolute;
    bottom: 15%;
    right: 15%;
    background-color: var(--main-header-text-color);
    padding: 10px;
    color: var(--background-light-color);
    font-weight: bold;
  }

/* sets flexbox and colors for main section */
  main{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-light-color);
    color: var(--main-header-text-color);
  }

  /* displays the sections in flex */
  section{
    display: flex;
  }

  /* sets the row sections for the page */
  .section-row{
    position: relative;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    /* header, right border
    about me
    portfolio has a column in that 
    contact */ 
  }

 /* settings for the section headers */
  .section-row h3{
    width: 20%;
    font-size: 48px;
    margin-left: 25px;
    line-height: 38px;
  }
 
  /* settings for the about-me section */
  .about-me{
    width: 80%;
    border-left: 5px solid var(--highlight-color);
    padding-left: 20px;
    padding-right: 60px;    
    text-align: justify;
  }

  
/* settings for the portfolio section */
  .portfolio{
    width: 80%;
    border-left: 5px solid var(--highlight-color);   
    align-content: space-between; 
  }

/* settings for the maint portfolio */
  .portfolio-main{
    margin-left: 20px;
    padding-right: 80px;
    width:100%;
    /* the main project full size */
  }

 

   /* setting parent for portfolio-name for main image */
  .portfolio-main a{
    position:relative;
  }

   /* parameters for the portfolio main image */
  .portfolio-main img{
    border: 5px solid var(--border-color);
    max-height: 600px;
  }

  /* when hover dim the photo */
  .portfolio-main:hover img{
    opacity: 0.5; 
  }


  /* setting parent for portfolio-name for small images */
  .portfolio-small a{
    position: relative;
  }

  /* parameters for the portfolio small images */
  .portfolio-small img{
    margin: 20px;
    border: 5px solid var(--border-color);
    max-height: 335px;
  }

    /* when hover dim the photo */
    .portfolio-small img:hover{
      opacity: 0.5; 
    }

  /* trying to position names and info on portfolios, box with border and text */
  .portfolio-name{
    position: absolute; 
    background-color: var(--main-header-text-color);
    border: 5px solid var(--border-color);
    padding: 10px;
    color: var(--background-light-color);
    font-weight: bold;
  }

  /* positioning for portfolio-name in main */
  .portfolio-main .portfolio-name{
    top: -350px;
  }

    /* positioning for portfolio-name in small */
  .portfolio-small .portfolio-name{
    top: -225px;
    left: 20px;
  }


  /* set parameteres for the contact me section, min height, display style, margin right to space evenly as left margin on section already 20px */
  .contact-me{
    min-height: 100px;
    display: inline-flex;
    justify-content:space-evenly;
    width: 80%;
    border-left: 5px solid var(--highlight-color);
    font-size: 20px;
    font-weight: bold;
    margin-right:20px;
  }
  
  /* formating for image/info pairs for contact section */
  .contact-me-pair{
    display: inline-flex;
    align-items: center;
  }
  
  /* set max size of icons in conact and a margin to set distance between icon and info */
  .contact-me-pair img{
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
  }


  /* highlight a link on hover in the Contact Me section */
  .contact-me-pair a:hover{
    color: var(--highlight-color);
  }

/* parameters for the footer at the bottom of the page, direction, wrap, align, colors */
  footer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--main-header-text-color);
    color: var(--background-light-color);
    
  }

  /* Changes direction of display for smaller display (cell phone) */
  @media screen and (max-width: 768px) {
    main,
    nav,
    footer {
      flex-direction: column;
    }
  }